.scaffold-wrap {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

  p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
  }

  pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
  }

  a {
    color: #000;

    &:visited {
      color: #666;
    }

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

  th {
    padding-bottom: 5px;
  }

  td {
    padding: 0 5px 7px;
  }

  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }

  #notice {
    color: green;
  }

  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

  #error_explanation {
    //width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;

    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px -7px 0;
      background-color: #c00;
      color: #fff;
    }

    ul li {
      font-size: 12px;
      list-style: square;
    }
  }

  label {
    display: block;
  }
}

.scaffold-custom-wrap {
  min-width: 300px;
  max-width: 60ch;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  //ヘッディング
  h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: var(--font-weight-black);
  }

  // テーブル
  .table-wrap {
    overflow-x: scroll;
  }

  table {
    background-color: var(--color-white-1);
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    white-space: nowrap;
  }

  thead {
    box-shadow: inset 0 -2px var(--color-gray-1);
  }

  tfoot {
    box-shadow: inset 0 2px var(--color-gray-1);
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--color-white-2);
    }

    tr:hover {
      background-color: var(--color-white-3);
    }
  }

  td,
  th {
    padding: 1rem 0.5rem;
    vertical-align: top;
  }

  th {
    font-weight: var(--font-weight-bold);
  }

  // アンカー
  a {
    color: var(--color-210-light);
    display: inline-block;
    position: relative;

    &:visited {
      color: var(--color-240-light);
    }

    &:hover {
      color: var(--color-210-dark);
      cursor: pointer;

      &:after {
        animation-name: width-spread;
        animation-duration: 0.8s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.1rem; /*下線の上下位置調整*/
      display: inline-block;
      width: 0; /*下線の幅*/
      height: 2px; /*下線の太さ*/
      transform: translate(-50%); /*位置調整*/
      background-color: var(--color-210-dark); /*下線の色*/
    }
  }

  // フォーム系
  label {
    display: block;
  }

  //form
  form {
    & > * + * {
      margin-top: 1rem;
    }
  }

  input[type="text"] {
    border: var(--color-gray-10) solid 0.3rem;
    border-radius: 0.2rem;
    width: 100%;

    padding: 0.2rem 0.2rem 0.2rem 2.5rem;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: 0.5rem 50%;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23A6A6A6FF' xmlns='http://www.w3.org/2000/svg' data-name='レイヤー 1' viewBox='0 0 100 100'><path d='M29.82 59.42c2.36.67 5.34.9 10.51.9.17 0 .4 0 1.41-.06 0-1.35 0-1.35.28-4.21.06-.62.17-2.81.17-3.21a5.56 5.56 0 0 0-.06-.84l4.38.28a38.41 38.41 0 0 0-1.18 7.87c9.17-.45 17.15-1.63 21.42-3.15l.25 3.94c-.73.11-.89.11-2 .28a158.55 158.55 0 0 1-19.9 2.25c-.34 4.77-.34 4.77-.39 7.53A29.56 29.56 0 0 1 53 69.87c1.18 0 1.85.06 3.26.17A21 21 0 0 0 57.64 65l3.88 1.18c-.17.34-.78 1.86-1.74 4.5 7.76 1.8 12.08 6.58 12.08 13.15 0 5.51-3 10-8.82 13-3.2 1.68-6.41 2.58-11.47 3.2a11.52 11.52 0 0 0-1.79-3.77 26.3 26.3 0 0 0 8.43-1.51c6.12-2.14 9.66-6.24 9.66-11.24 0-4.84-3.2-8.21-9.27-9.78-3.26 7.58-6.3 12.42-10.68 16.86s-8.6 6.8-12.53 6.8c-4.22 0-7.25-3.54-7.25-8.55 0-6.91 4.89-13.2 13-16.74 0-4.11 0-4.39.33-8.49h-2.2c-.57 0-3.1-.11-7.59-.28a8.6 8.6 0 0 0-1-.06 5.42 5.42 0 0 0-.9.06Zm5.4 20.8a13.27 13.27 0 0 0-3.43 8.37c0 3.09 1.63 5.11 4.05 5.11 2.08 0 3.93-.84 6.46-2.86a79.29 79.29 0 0 1-1.12-15.23 19.83 19.83 0 0 0-5.96 4.61Zm10.28 8.31a6.28 6.28 0 0 1 1.07-1.46 50.42 50.42 0 0 0 8.6-14c-1.8-.11-2.08-.11-2.7-.11a25.4 25.4 0 0 0-7.81 1.29 94.36 94.36 0 0 0 .62 12.87 4.2 4.2 0 0 1 0 .79v.62ZM39.09 48a45.89 45.89 0 0 0-2-6.44l-3.29-8.15h-22l-3.27 8.15a35 35 0 0 0-2 6.44H0a40 40 0 0 0 3.41-7.26L17.56 5.87a36.15 36.15 0 0 0 2-5.87H26c.25 1.2.57 2 2.15 5.87l14.1 34.87A62.08 62.08 0 0 0 45.6 48ZM24.19 8.21c-.19-.5-.19-.57-1.39-4-.32 1-.57 1.64-.69 2.08-.38 1-.57 1.71-.7 2l-8.08 20.76h19ZM65.93 1a29.18 29.18 0 0 0 5 .3h3.79a34.3 34.3 0 0 0 5-.3 98.83 98.83 0 0 0-.54 10v29.21a38.4 38.4 0 0 0 .46 6.79h-5.71a38 38 0 0 0 .48-6.79V5.39h-3.25a36.41 36.41 0 0 0-5.23.36Z' class='cls-1'/></svg>");
  }

  input[type="submit"] {
    border: var(--color-gray-10) solid 0.1rem;
    border-radius: 0.2rem;
    padding: 0.2rem;

    &:hover {
      cursor: pointer;
    }
  }

  // 通知
  #notice {
    color: var(--color-120-light);
  }
}

// キーフレーム アニメーション

// 幅が広がる
@keyframes width-spread {
  0% {
    width: 0;
  }
  50% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}